/node_modules
/public/hot
/public/AdminLTE
/public/article
/public/profile
/public/article-resource
/public/storage
/public/uploads
/public/companylogo
/public/images/tutors
/public/wap
/public/web
/public/mentor
/web
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
